.footer
{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  color: white;
  padding:  30px 50px 10px 200px;
}
.footer .first ul,
.footer .second ul
{
    list-style-type: none;
    line-height: 200%;
}

.footer .third ul
{
  list-style-type: none;
  line-height: 270%;
}

.first
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.second
a:link {
color: white;
background-color: transparent;
text-decoration: none;
}
